# будет игнорироваться каталог tmp со всеми файлами
tmp/
# будут игнорироваться файлы, заканчивающиеся суффиксом _old и _backup
*_old
*_backup
# будут игнорироваться файлы Thumbs.db и .DS_Store
Thumbs.db
.DS_Store